#mainPane{
    -fx-background-image: url("../images/Background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.textfield {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-border-color: transparent transparent #888 transparent;
    -fx-border-width: 0 0 1 0;

    -fx-text-fill: #000;
    -fx-prompt-text-fill: #dfdede;

    -fx-padding: 4 0 4 0;
}

.textfield:hover {
    -fx-border-color: transparent transparent #aaa transparent;
}

.textfield:focused {
    -fx-border-color: transparent transparent rgba(220, 142, 0, 0.5) transparent;
}

#loginBtn{
    -fx-font-family: Raleway;
    -fx-font-size: 24px;
    -fx-background-color:  #ffa300;
    -fx-background-radius: 24px;
    -fx-text-fill: white;
    -fx-border-radius: 24px;
    -fx-border-width: 4px;
    -fx-border-color: #ffa300;
    -fx-border-style: solid;
}

#registerLink:hover,#loginBtn:hover {
    -fx-underline: true;
}