.mainPane{
    -fx-background-color: #252836;
}
.sidePanels{
    -fx-background-color: #1f1d2b;
    -fx-background-radius: 20px;


}
.activeSidePanel{
    /*    Deve ter no :active*/
    -fx-background-color: #ffa300;
    -fx-background-radius: 20px;
    -fx-text-fill:#1f1d2b ;
}
.activeSidePanel > .label{
    -fx-text-fill: #1f1d2b;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 6px;
}

.scroll-bar:vertical .track {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 3px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #3f51b5;
    -fx-background-radius: 6px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}

.horarioActivo{
    -fx-background-radius: 10px;
    -fx-background-color: #1f1d2b;
    -fx-text-fill: white;
    -fx-font-family: Montserrat;
    -fx-font-size: 28px;
    -fx-padding: 2px 12px;
}
.horarioSelected{
    -fx-background-radius: 10px;
    -fx-background-color: #ffa300;
    -fx-text-fill: #252836;
    -fx-font-family: Montserrat;
    -fx-font-size: 28px;
    -fx-padding: 2px 12px;
}
.horarioSem{
    -fx-background-radius: 10px;
    -fx-background-color: #1f1d2b;
    -fx-text-fill: white;
    -fx-font-family: Montserrat;
    -fx-font-size: 40px;
    -fx-padding: 2px 12px;
}

.date-picker {
    -fx-border-radius: 4px;
}

.radio-button{
    -fx-text-fill: white;
    -fx-font-family: Montserrat;
    -fx-font-size: 18px;
}
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #abbbc2;
    -fx-background-color: #1f1d2b;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-background-color: transparent;
}

.radio-button:selected .dot {
    -fx-background-color: #ffa300;
}

.radio-button {
    -fx-text-fill: white;
    transition: -fx-text-fill 0.4s ease-in-out, -fx-background-color 0.4s ease-in-out;
}

.radio-button:hover .radio {
    -fx-border-color: #ffa300;
}

#btnConfirmar{
    -fx-font-family: Raleway;
    -fx-font-size: 18px;
    -fx-background-color:  #ffa300;
    -fx-background-radius: 24px;
    -fx-text-fill: #252836;;
    -fx-border-radius: 24px;
    -fx-border-width: 4px;
    -fx-border-color: #ffa300;
    -fx-border-style: solid;
    transition: -fx-text-fill 0.4s ease-in-out, -fx-background-color 0.4s ease-in-out;
}

#btnConfirmar:hover {
    -fx-text-fill: #252836;;
    -fx-underline: true;
    -fx-background-color: #ffa300;
    -fx-background-radius: 24px;
    -fx-border-width: 4px;
}
#btnConfirmar.processing {
    -fx-font-family: Raleway;
    -fx-font-size: 28px;
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 24px;
    -fx-text-fill: #666666;
    -fx-border-radius: 24px;
    -fx-border-width: 4px;
    -fx-border-color: #d3d3d3;
    -fx-border-style: solid;
    -fx-cursor: wait;
}

.removerBtn{
    -fx-font-family: Montserrat;
    -fx-border-radius: 42px;
    -fx-border-width: 3px;
    -fx-border-color: #9f0712;
    -fx-border-style: solid;
    -fx-text-fill: rgb(253, 42, 42);
    -fx-background-color: transparent;
    transition: -fx-text-fill 0.4s ease-in-out, -fx-background-color 0.4s ease-in-out;
}

.removerBtn:hover{
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-background-color: transparent;
    -fx-background-radius: 24px;
    -fx-border-width: 2px;
    -fx-border-radius: 24px;
}


.linkElement:hover{
    -fx-underline: true;
    -fx-text-fill: #ffa300;
    -fx-cursor: hand;
}